.my-color {
  color: #fafafa;
  background-color: #0a0a0a;
}

.my-font {
  /* font-family: "Work Sans"; */
}

.my-root-class {
  background-color: #0a0a0a;
}

.my-root-class body {
  background: #0a0a0a no-repeat center center fixed;
}
